.user-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__link {
    margin: 0.5rem 0;
    text-decoration: none;
  }
}
